<!-- about.html-->

{% extends "base.html" %}
{% block title %} Dashboard {% endblock %}
{% block body %}
                    </div>
                      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h1><i>Yummy Recipes</i></h1>

                          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                              <br>
                              <a href="new_recipe.html" class="btn btn-success">Add New Recipe</a>
                          </div>
                      </div>
                    </nav>
              </div>

                      <br>

                      <div class="card-group">
                            <div class="card-block">
                              <h4 class="card-title">Lunch</h4>
                              <h4 class="card-title">Grilled Chicken Tikka</h4>
                              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                              <div class="">
                                    <a class="btn btn-primary" href="#">Edit</a>
                                    <a class="btn btn-danger" href="#">Delete</a>
                                   
                              </div>
                            </div>
                          </div>

                          <div class="card">
                            <div class="card-block">
                              <h4 class="card-title">Lunch</h4>
                              <h4 class="card-title">Yummy Fried Tilapia</h4>
                              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                                    <div class="">
                                      <a class="btn btn-primary" href="#">Edit</a>
                                      <a class="btn btn-danger" href="#">Delete</a>
                                     
                                    </div>
                            </div>
                          </div>

                          <div class="card">
                            <div class="card-block">
                              <h4 class="card-title">Dinner</h4>
                              <h4 class="card-title">Vegetable Rice</h4>
                              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                              <div class="">
                                    <a class="btn btn-primary" href="#">Edit</a>
                                    <a class="btn btn-danger" href="#">Delete</a>
                                   
                              </div>
                            </div>
                          </div>

                          <div class="card">                          
                            <div class="card-block">
                              <h4 class="card-title">Lunch</h4>
                              <h4 class="card-title">Yummy Fried Tilapia</h4>
                              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                              <div class="">
                                    <a class="btn btn-primary" href="#">Edit</a>
                                    <a class="btn btn-danger" href="#">Delete</a>
                                   
                              </div>
                            </div>
                          </div>
                        </div>
                    
                        <br>
                        <div class="card-group">
                            <div class="card">                             
                              <div class="card-block">
                                <h4 class="card-title">Dinner</h4>
                                <h4 class="card-title">Swahili Biryani</h4>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <div class="">
                                        <a class="btn btn-primary" href="#">Edit</a>
                                        <a class="btn btn-danger" href="#">Delete</a>
                                       
                                </div>
                              </div>
                            </div>

                            <div class="card">                            
                              <div class="card-block">
                                <h4 class="card-title">Dinner</h4>
                                <h4 class="card-title">Soft Chapati</h4>
                                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                                <div class="">
                                        <a class="btn btn-primary" href="#">Edit</a>
                                        <a class="btn btn-danger" href="#">Delete</a>
                                       
                                </div>
                              </div>
                            </div>

                            <div class="card">sphagetti.png
                              <div class="card-block">
                                <h4 class="card-title">Breakfast</h4>
                                <h4 class="card-title">Sphagetti</h4>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                                <div class="">
                                        <a class="btn btn-primary" href="#">Edit</a>
                                        <a class="btn btn-danger" href="#">Delete</a>
                                       
                                </div>
                              </div>
                            </div>

                            <div class="card">
                                <div class="card-block">
                                  <h4 class="card-title">Dinner</h4>
                                  <h4 class="card-title">Swahili Biryani</h4>
                                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                  <div class="">
                                        <a class="btn btn-primary" href="#">Edit</a>
                                        <a class="btn btn-danger" href="#">Delete</a>
                                       
                                  </div>
                                </div>
                              </div>
                          </div>
                      </div>
                    </div>

                    {% endblock %}